




* {
  padding: 0;
  margin: 0;
}
.elegir {
  border-bottom: solid 2px red;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.emp1,.emp2,.emp3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 30px;
}
.emp1 {
  background: red;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  border: solid 1px white;
  border-top-left-radius: 15px;
}
.emp2,.emp3{
  background: white;
  border: solid 1.5px red;
}
.emp3 {
  border-top-right-radius: 15px;
}
a {
  text-decoration: none;
}
a .emp2,.emp3 {
  color: black;
}

/* Las pelicjlas*/
h4 {
  padding: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  background: red;
  color: #fff;
  
}
.scroller {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  overflow-x: auto;
  color: #fff;
  background-color: #c30000;
  border-bottom: solid 7px black;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
img {
  width: 200px;
  height: 290px;
  border-radius: 6px;
  border: solid 1.8px #fff;
}
.venga1,.venga2,.venga3,.venga4 {
  margin-right: 10px;
  text-align: center;
}
.venga1 {
  margin-left: 5px;
}


.thor1,.thor2,.thor3,.thor4 {
  margin-right: 10px;
  text-align: center;
}



.spy1,.spy2,.spy3 {
  margin-right: 10px;
  text-align: center;
}
