





body {
  padding: 0;
  margin: 0;
}
.naveg {
  display: flex;
  justify-content: space-around;
  background-position: fixed;
}
.logo1 {
  width: 40px;
}
.regi {
  width: 15px;
  
}

.contenedor-inicio {
  background-image: url(fondo2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  width: 100%;
  color: white;
  font-size: 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-family: Courier;
  padding: 10px;
  margin: 25px;
}
input {
  width: 200px;
  height: 28px;
  background-color: #3a00cf;
  border: black solid 1px;
  border-radius: 10px;
  color: #fff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
h3 {
  text-align: center;
  font-family: Georgia;
}
.parraf {
  font-family: Verdana;
}
.conten {
  display: flex;
  justify-content: space-evenly;
}
.forma {
  width: 195px;
  height: 195px;
  background: #f8f8f8;
  border-radius: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.base {
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 0px;
  margin: 0px;
  height: 50px;
}
.creador {
  color: #ff9292;
  text-decoration: none;
}
.regist {
  text-decoration: none;
  color: black;
}