




* {
  padding: 0;
  margin: 0;
 
}
body {
   background-color: #fff;
  
}
.logo1 {
  width: 50px;
  padding-top: 10px;
  height: 50px;
}
.cabeza {
  display: flex;
  justify-content: center;
  height: 65px;
  background: #fff;
}
.name {
  background: #0083af;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 4px red;
  
}
.h1{
  font-size: 110px;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.clases {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  
}
h2 {
  padding: 15px;
  text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.9);
}
.uno,.dos,.tres {
  background: #fcfcfc;
  border: double 2.3px red;
  border-radius: 8px;
  height: 80px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s;
}
a {
  text-decoration: none;
  color: black;
  transition: transform 1s;
}

.uno:hover,.dos:hover,.tres:hover {
  background: red;
  color: white;
  border: solid 6.5px red;
}
a:hover {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}